{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    {% for movie in watch_later_movies %}
    <tr height=>
        <a class="col-md-4"
           href="/lab-10/movie/detail/{{ movie.imdbid }}/">
           <img src="{{ movie.poster }}">
            <h3 class="movie-info">{{ movie.title }}</h3>
        </a>
    </tr>

    {% endfor %}
</div>
{% endblock %}
