{% extends "base.html" %}
{% block content %}
    <p style="text-align: center;padding: 20px;font-size: 25px">Hai semua, berikut adalah Catatan Harianku</h3>
        <br><br>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <table align="center" style="text-align: center;padding: 20px;">
                    <tr>
                        <th style="padding: 20px;text-align: center;">Tanggal</th>
                        <th style="padding: 20px;text-align: center;">Yang akan dikerjakan</th>
                    </tr>
                    {% for diary_data in diary_dict %}
                        <tr>
                            <td class="date" style="padding: 20px;text-align: center;">{{ diary_data.date }}</td>
                            <td class="activity" style="padding: 20px;text-align: center;">{{ diary_data.activity }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-6 col-xs-6">
                <form method="POST" action="add_activity/">
                    {% csrf_token %}
                    <table id="input123" >
                        <tr>
                            <td style="padding: 10px;text-align: center;border:0px;">
                                Tanggal
                            </td>
                            <td style="padding: 10px;text-align: center;border:0px;">
                                <input type="datetime-local" name="date" id="date" required="required"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;text-align: center;border:0px;">
                                Kegiatan
                            </td>
                            <td style="padding: 10px;text-align: center;border:0px;">
                                <input type="text" name="activity" id="activity" size="25"/>
                            </td>
                        </tr>
                    </table>
                    <button type="submit" class="button btn-success" style="padding: 10px;margin-top: 2%;margin-left: 25%;background-color: #cd853f;border-color: #cd853f">Submit</button>
                </form>
            </div>
        </div>
    {% endblock %}